<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script src="main.js" defer></script>
  </head>
  <body>
    <!-- Large Screen Navigation Bar -->
    <nav>
      <div class="logo">
        EducateMe
      </div>
      <div class="links">
        <p>Scan</p>
        <p>Flashcards</p>
        <p>Read</p>
        <strong id="mobile-menu-btn">Menu</strong>
      </div>
    </nav>
    <!-- Small Screen Navigation Bar -->
    <div class="mobile-menu">
        <p>Scan</p>
        <p>Flashcards</p>
        <p>Read</p>
    </div>
  </body>
</html>
